<!DOCTYPE html>
<html lang="en">
<head>
	<title>Weekly Planner</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap" rel="stylesheet">
</head>
<body>
<div class="box">
<header>
    <h1>Foodex - Meal Planner:</h1>

    <div class="buttons-meal-planner">
        <form action="/new_meal" method="get">
            <button id="btn_find_meal">Find Meal</button>
        </form>
	
        <form action="/add_takeout" method="get">
            <button id="btn_add_takeout">Add Takeout</button>
        </form>

		 <form action="/calc_budget" method="get">
            <button id="btn_calc">Shopping List</button>
        </form>

        <form action="/reset_planner" method="post">
            <input type="hidden" name="_method" value="patch">
            <button id="btn_reset">Reset</button>
        </form>

        <% if logged_in? %>
            <form action="/logout" method="post">
                <input type="hidden" name="_method" value="delete">
                <button id="btn_logout">Logout</button>
            </form>
        <% end %>
    </div>
</header>
	<div class="limiter">
		<div class="container-table100">
			<div class="wrap-table100">
					<div class="table">
						<div class="row header">
							<div class="cell">
								Schedule
							</div>
							<div class="cell">
								Breakfast
							</div>
							<div class="cell">
								Lunch
							</div>
							<div class="cell">
								Dinner
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Monday">
								Monday
							</div>
							<div class="cell" data-title="Breakfast">
							    <%= meals[0]["breakfast"]%>
							</div>
							<div class="cell" data-title="Lunch">
								<%= meals[0]["lunch"]%>
							</div>
							<div class="cell" data-title="Dinner">
								<%= meals[0]["dinner"]%>
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Tuesday">
								Tuesday
							</div>
							<div class="cell" data-title="Breakfast">
								<%= meals[1]["breakfast"]%>
							</div>
							<div class="cell" data-title="Lunch">
								<%= meals[1]["lunch"]%>
							</div>
							<div class="cell" data-title="Dinner">
								<%= meals[1]["dinner"]%>
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Wednesday">
								Wednesday
							</div>
							<div class="cell" data-title="Breakfast">
								<%= meals[2]["breakfast"]%>
							</div>
							<div class="cell" data-title="Lunch">
								<%= meals[2]["lunch"]%>
							</div>
							<div class="cell" data-title="Dinner">
								<%= meals[2]["dinner"]%>
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Thursday">
								Thursday
							</div>
							<div class="cell" data-title="Breakfast">
								<%= meals[3]["breakfast"]%>
							</div>
							<div class="cell" data-title="Lunch">
								<%= meals[3]["lunch"]%>
							</div>
							<div class="cell" data-title="Dinner">
								<%= meals[3]["dinner"]%>
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Friday">
								Friday
							</div>
							<div class="cell" data-title="Breakfast">
								<%= meals[4]["breakfast"]%>
							</div>
							<div class="cell" data-title="Lunch">
								<%= meals[4]["lunch"]%>
							</div>
							<div class="cell" data-title="Dinner">
								<%= meals[4]["dinner"]%>
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Saturday">
								Saturday
							</div>
							<div class="cell" data-title="Breakfast">
								<%= meals[5]["breakfast"]%>
							</div>
							<div class="cell" data-title="Lunch">
								<%= meals[5]["lunch"]%>
							</div>
							<div class="cell" data-title="Dinner">
								<%= meals[5]["dinner"]%>
							</div>
						</div>

						<div class="row">
							<div class="cell" data-title="Sunday">
								Sunday
							</div>
							<div class="cell" data-title="Breakfast">
								<%= meals[6]["breakfast"]%>
							</div>
							<div class="cell" data-title="Lunch">
								<%= meals[6]["lunch"]%>
							</div>
							<div class="cell" data-title="Dinner">
								<%= meals[6]["dinner"]%>
							</div>
						</div>
					</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>