<h1>Select meal from options below:</h1>

<h2>About <%= result["count"]%> results:</h2>

<div class="meal_selections">
    
    <% meals.each do |meal| %>
     
    <p><a href="/meal_details?r=<%= meal["uri_code"]%>&q=<%= result["q"]%>&meal_course=<%= params["meal_course"]%>&day_of_week=<%= params["day_of_week"]%>"><%= meal["label"]%></p>

    <% end %>
    
    <form action="/new_meal" method="get">
        <button id="btn_back">Back</button>
    </form>
</div>